<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="about">
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/works">Works</a>
    </nav> 
    <div id="about2">  
    <h1>Resume Biography</h1>
    <article>
        <p>Rita Lee Jones de Carvalho (born December 31, in São Paulo, Brazil), best known as Rita Lee, is a Brazilian MPB singer, composer, multi-instrumentalist, actress, writer, TV host and animals rights activist of American and Italian descent, being regarded as the "Queen of Brazilian Rock".</p>
        <p>Former member of the group Os Mutantes (1966 — 1972) and leader of the band Tutti Frutti (1973 — 1978), Lee participated in important revolutions in the world of music and society, such as the Tropicália movement during the Brazilian dictatorship, which led her to be the artist with the most censored songs in Brazil during that period. Her songs, usually watered with an acid irony or with a claim for female independence and sexual topics, became ubiquitous in the charts. The album, Fruto Proibido (1975), released together with the band Tutti Frutti, is commonly seen as a fundamental milestone in the history of Brazilian rock, considered by some as her masterpiece.</p>
    </article>
    </div>
</body>
</html>