<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Home Page</title>
</head>
<body class="home">
    <nav class="navbar">
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
        <a href="/works">Works</a>
    </nav>   
    <div class="header">
    <h1>RITA LEE</h1>
    </div>
    <article>
        <br>
        <img src="/images/rita-lee.png" alt="rita lee pic" width="700">
        <p id="intro_text"><i>"Queen of Brazilian Rock".</i></p>
    </article>
</body>
</html>